<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
	th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

<script
	src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>



<link href="../../static/css/main.css" th:href="@{css/main.css}"
	rel="stylesheet" media="screen" />


</head>
<body>

	<div class="container">
		<div th:fragment="header">

			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#" th:href="@{/}">Home</a>
						<ul class="nav navbar-nav">
							<li><a href="#" th:href="@{/projects}">Projects </a></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">Items <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#" th:href="${'/items/getItems'}">Get
											Items</a></li>
									<li><a href="#" th:href="${'/items/getEpicItems'}">Get
											Epic Items</a></li>
<!-- 									<li role="separator" class="divider"></li>		 -->
<!-- 									<li><a href="#" th:href="${'/items/findItems'}">Find -->
<!-- 											Items</a></li> -->
								</ul>
							</li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">Symbols <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#" th:href="${'/symbols/getSymbols'}">Get
											Symbols</a></li>

								</ul>
							</li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">Snippets <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#" th:href="${'/snippets/getSnippets'}">Get
											Snippets</a></li>

								</ul>
							</li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown" role="button" aria-haspopup="true"
								aria-expanded="false">Processing <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="#" th:href="${'/processor/readItems'}">1. Read
											Items & Parse Symbols</a></li>
									<li><a href="#" th:href="${'/processor/linkSymbols'}">2. Link
											Symbols with Items</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="#" th:href="${'/processor/findObjects'}">3a. Find
											Objects</a></li>
									<li><a href="#" th:href="${'/processor/findSubjects'}">3b. Find
											Subjects</a></li>
									<li><a href="#" th:href="${'/processor/findVerbs'}">3c. Find
											Verbs</a></li>
									<li><a href="#" th:href="${'/processor/listFindSymbol'}">3d. Find
											Symbol</a></li>											
									<li role="separator" class="divider"></li>		
									<li><a href="#" th:href="${'/processor/findSnippets'}">4. Find
											Snippets</a></li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</nav>

			<!--         <div class="jumbotron"> -->
			<!--             <div class="row text-center"> -->
			<!--                 <div class=""> -->
			<!--                     <h2>Yupichay</h2> -->

			<!--                     <h3>Yupichay Web App</h3> -->
			<!--                 </div> -->
			<!--             </div> -->
			<!--             <div class="row text-center"> -->
			<!--                 <img src="../../static/images/footprints-485761_960_720.png" width="200" -->
			<!--                      th:src="@{/images/footprints-485761_960_720.png}"/> -->
			<!--             </div> -->
			<!--         </div> -->
		</div>
	</div>
</body>

<script type="text/javascript">
	$('.dropdown-toggle').dropdown()
</script>

</html>