<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Yupichay</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2>Search for ...</h2>
    <form th:object="${item}" th:action="@{/items/getItems}" method="get">
        <input type="text" name="search" id="search" th:value="${search}"/>
        <input type="submit" value="Search"/>
    
    
    <div th:if="${not #lists.isEmpty(items)}">
        <h2>Item List</h2>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th>Id</th>
                <th>Text</th>
                <th>View</th>
<!--                 <th>Edit</th> -->
            </tr>
            <tr th:each="item : ${items}">
                <td th:text="${item.id}">Id</td>
                <td th:text="${item.text}">Text</td>
                <td><a th:href="${ '/item/' + item.id}">View</a></td>
<!--                 <td><a th:href="${'/item/edit/' + item.id}">Edit</a></td> -->
            </tr>
        </table>

    </div>
    </form>
</div>

</body>
</html>