<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Yupichay</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<h2>Item detail</h2>
		<div>
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">Id:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${item.id}">Id</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Text:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${item.text}">text</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Location:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${item.location}">location</p>
					</div>
				</div>

				<div th:if="${not #lists.isEmpty(item.symbols)}">
					<h2>Symbols List</h2>
					<table class="table table-bordered table-hover table-striped">
			            <tr>
			                <th>Id</th>
			                <th>Notion</th>
			                <th>Symbol Type</th>
			                <th>View</th>
			                <th>Find</th>
			            </tr>
			            <tr th:each="symbol : ${item.symbols}">
			                <td th:text="${symbol.id}">Id</td>
			                <td th:text="${symbol.notion}">notion</td>
			                <td th:text="${symbol.symbolType}">Symbol Type</td>
			                <td><a th:href="${ '/symbol/' + symbol.id}">View</a></td>
			                <td><a th:href="${ '/processor/findSymbolFromItem/' + symbol.id + '/' + item.id}">Find</a></td>
			            </tr>
			        </table>
        
				</div>
				
				<div th:if="${not #lists.isEmpty(item.snippets)}">
					<h2>Snippets List</h2>
					<table class="table table-bordered table-hover table-striped">
			            <tr>
			                <th>Id</th>
			                <th>Qualified Name</th>
			                <th>Simple Name</th>
			                <th>Position</th>
			                <th>Source</th>
			                <th>View</th>
			            </tr>
			            <tr th:each="snippet : ${item.snippets}">
			                <td th:text="${snippet.id}">Id</td>
			                <td th:text="${snippet.qualifiedName}">qualifiedName</td>
			                <td th:text="${snippet.simpleName}">simpleName</td>
			                <td th:text="${snippet.position}">position</td>
			                <td th:text="${snippet.sourceCode}">sourceCode</td>
			                <td><a th:href="${ '/snippet/' + snippet.id}">View</a></td>
			            </tr>
			        </table>
        
				</div>
				
				<div th:if="${not #lists.isEmpty(item.subItems)}">
					<h2>Item List</h2>
					<table class="table table-bordered table-hover table-striped">
			            <tr>
			                <th>Id</th>
			                <th>Text</th>
			                <th>View</th>
			            </tr>
			            <tr th:each="subItem : ${item.subItems}">
			                <td th:text="${subItem.id}">Id</td>
			                <td th:text="${subItem.text}">text</td>
			                <td><a th:href="${ '/item/' + subItem.id}">View</a></td>
			            </tr>
			        </table>
        
				</div>

			</form>
		</div>

	</div>

</body>
</html>