<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Yupichay</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(symbols)}">
        <h2>Symbol List: Objects</h2>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th>Id</th>
                <th>Notion</th>
                <th>Symbol Type</th>
                <th>Find</th>
<!--                 <th>Edit</th> -->
            </tr>
            <tr th:each="symbol : ${symbols}" th:if="${symbol.symbolType == 'object'}" >
                <td th:text="${symbol.id}">Id</td>
                <td th:text="${symbol.notion}">notion</td>
                <td th:text="${symbol.symbolType}">Symbol Type</td>
                <td><a th:href="${ '/processor/findSymbol/' + symbol.id}">Find</a></td>
<!--                 <td><a th:href="${'/symbol/edit/' + symbol.id}">Edit</a></td> -->
            </tr>
        </table>
        
        <h2>Symbol List: Subjects</h2>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th>Id</th>
                <th>Notion</th>
                <th>Symbol Type</th>
                <th>Find</th>
<!--                 <th>Edit</th> -->
            </tr>
            <tr th:each="symbol : ${symbols}" th:if="${symbol.symbolType == 'subject'}" >
                <td th:text="${symbol.id}">Id</td>
                <td th:text="${symbol.notion}">notion</td>
                <td th:text="${symbol.symbolType}">Symbol Type</td>
                <td><a th:href="${ '/processor/findSymbol/' + symbol.id}">Find</a></td>
<!--                 <td><a th:href="${'/symbol/edit/' + symbol.id}">Edit</a></td> -->
            </tr>
        </table>
        
		<h2>Symbol List: Verbs</h2>
       	<table class="table table-bordered table-hover table-striped">
            <tr>
                <th>Id</th>
                <th>Notion</th>
                <th>Symbol Type</th>
                <th>Find</th>
<!--                 <th>Edit</th> -->
            </tr>
            <tr th:each="symbol : ${symbols}" th:if="${symbol.symbolType == 'verb'}" >
                <td th:text="${symbol.id}">Id</td>
                <td th:text="${symbol.notion}">notion</td>
                <td th:text="${symbol.symbolType}">Symbol Type</td>
                <td><a th:href="${ '/processor/findSymbol/' + symbol.id}">Find</a></td>
<!--                 <td><a th:href="${'/symbol/edit/' + symbol.id}">Edit</a></td> -->
            </tr>
        </table>

    </div>
</div>

</body>
</html>