<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Yupichay</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<h2>Project detail</h2>
		<div>

            <form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">Id:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${project.id}">Id</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Project Path:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${project.inputPath}">inputPath</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">PBL Items Path:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${project.itemsPath}">itemsPath</p>
					</div>
				</div>

				<div th:if="${not #lists.isEmpty(project.items)}">
					<h2>Item List</h2>
					<table class="table table-bordered table-hover table-striped">
						<tr>
							<th>Id</th>
							<th>item Id</th>
							<th>Text</th>
							<th>View</th>
<!-- 							<th>Edit</th> -->
						</tr>
						<tr th:each="item : ${project.items}">
							<td th:text="${item.id}"><a href="/item/${item.id}">Id</a></td>
							<td th:text="${item.id}">item Id</td>
							<td th:text="${item.text}">text</td>
							<td><a th:href="${ '/item/' + item.id}">View</a></td>
<!-- 							<td><a th:href="${'/item/edit/' + item.id}">Edit</a></td> -->
						</tr>
					</table>
				</div>

				<div th:if="${not #lists.isEmpty(project.symbols)}">
					<h2>Symbol List</h2>
					<table class="table table-bordered table-hover table-striped">
						<tr>
							<th>Id</th>
							<th>symbol Id</th>
							<th>Notion</th>
							<th>Symbol Type</th>
							<th>View</th>
<!-- 							<th>Edit</th> -->
						</tr>
						<tr th:each="symbol : ${project.symbols}">
							<td th:text="${symbol.id}"><a href="/symbol/${symbol.id}">Id</a></td>
							<td th:text="${symbol.id}">symbol Id</td>
							<td th:text="${symbol.notion}">notion</td>
							<td th:text="${symbol.symbolType}">Symbol Type</td>
							<td><a th:href="${ '/symbol/' + symbol.id}">View</a></td>
<!-- 							<td><a th:href="${'/symbol/edit/' + symbol.id}">Edit</a></td> -->
						</tr>
					</table>
				</div>

				<div th:if="${not #lists.isEmpty(project.snippets)}">
					<h2>Snippet List</h2>
					<table class="table table-bordered table-hover table-striped">
						<tr>
							<th>Id</th>
							<th>snippet Id</th>
							<th>Qualified Name</th>
							<th>Simple Name</th>
							<th>Position</th>
							<th>View</th>
<!-- 							<th>Edit</th> -->
						</tr>
						<tr th:each="snippet : ${project.snippets}">
							<td th:text="${snippet.id}"><a href="/snippet/${snippet.id}">Id</a></td>
							<td th:text="${snippet.id}">snippet Id</td>
							<td th:text="${snippet.qualifiedName}">qualifiedName</td>
							<td th:text="${snippet.simpleName}">simpleName</td>
							<td th:text="${snippet.position}">position</td>
							<td><a th:href="${ '/snippet/' + snippet.id}">View</a></td>
<!-- 							<td><a th:href="${'/snippet/edit/' + snippet.id}">Edit</a></td> -->
						</tr>
					</table>
				</div>

			</form>
		</div>

	</div>

</body>
</html>