<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Yupichay</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(projects)}">
        <h2>Project List</h2>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th>Id</th>
                <th>inputPath</th>
                <th>outputPath</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
            <tr th:each="project : ${projects}">
                <td th:text="${project.id}"><a href="/project/${project.id}">Id</a></td>
                <td th:text="${project.inputPath}">inputPath</td>
                <td th:text="${project.outputPath}">outputPath</td>
                <td><a th:href="${ '/project/' + project.id}">View</a></td>
                <td><a th:href="${'/project/edit/' + project.id}">Edit</a></td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>