<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Yupichay</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<form class="form-horizontal" th:object="${codeFragmentsSelected}"
			th:action="@{/processor/findSymbol}" method="post">
			<div th:if="${not #lists.isEmpty(codeFragmentsSelected)}">
				<h2>Code Fragment List</h2>
				<table class="table table-bordered table-hover table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>fileName</th>
							<th>target</th>
							<th>typeTarget</th>
							<th>insertString</th>
							<th>lineNumber</th>
							<th>Select</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="codeFragment, stat : *{codeFragments}">
							<td th:text="${stat.count}"></td>
							<td th:text="${codeFragment.getFileName()}"></td>
							<td th:text="${codeFragment.getTarget()}"></td>
							<td th:text="${codeFragment.getTypeTarget()}"></td>
							<td th:text="${codeFragment.getInsertString()}"></td>
							<td th:text="${codeFragment.getLineNumber()}"></td>
							<td>
								<input type="hidden" th:field="*{codeFragments[__${stat.index}__].fileName}" />
								<input type="hidden" th:field="*{codeFragments[__${stat.index}__].target}" />
								<input type="hidden" th:field="*{codeFragments[__${stat.index}__].typeTarget}" />
								<input type="hidden" th:field="*{codeFragments[__${stat.index}__].insertString}" />
								<input type="hidden" th:field="*{codeFragments[__${stat.index}__].lineNumber}" />
								<input type="checkbox" th:field="*{codeFragments[__${stat.index}__].selected}" />
							</td>							
						</tr>
						
					</tbody>
				</table>
				
				
			</div>
			<div class="row">
				<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</form>
	</div>

</body>
</html>