<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Yupichay</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
	
	<link rel="stylesheet" type="text/css" href="/css/prism.css"/>
	<link href="/css/prism.css" th:href="@{/css/prism.css}" rel="stylesheet" />
	<script type="text/javascript" th:src="@{/js/prism.js}"></script>
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<h2>Snippet detail</h2>
		<div>
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">Id:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${snippet.id}">Id</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Qualified Name:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${snippet.qualifiedName}">qualifiedName</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Simple Name:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${snippet.simpleName}">simpleName</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">File Name:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${snippet.fileName}">fileName</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Position:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${snippet.position}">position</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Source Code:</label>
					<div class="col-sm-10">
						<span style="white-space: pre-wrap">
<!-- 							<p class="form-control-static" th:text="${snippet.sourceCode}">sourceCode</p> -->
							
							<pre><code class="language-php">
								<p  th:text="${snippet.sourceCode}">sourceCode</p>
							</code></pre>
						</span>
					</div>
				</div>

				<div th:if="${not #lists.isEmpty(snippet.symbols)}">
					<h2>Symbols List</h2>
					<table class="table table-bordered table-hover table-striped">
			            <tr>
			                <th>Id</th>
			                <th>Notion</th>
			                <th>Symbol Type</th>
			            </tr>
			            
			            <tr th:each="symbol : ${snippet.symbols}">
			                <td th:text="${symbol.id}">Id</td>
			                <td th:text="${symbol.notion}">notion</td>
			                <td th:text="${symbol.symbolType}">Symbol Type</td>
			            </tr>
			        </table>
				</div>

			</form>
		</div>

	</div>

<script src="prism.js"></script>


</body>
</html>