<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Yupichay</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
    <link href="/css/prism.css" th:href="@{/css/prism.css}" rel="stylesheet" />
	<script type="text/javascript" th:src="@{/js/prism.js}"></script>
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(snippets)}">
        <h2>Snippet List</h2>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th>Id</th>
                <th>Qualified Name</th>
                <th>Simple Name</th>
                <th>Position</th>
                <th>Source</th>
                <th>View</th>
<!--                 <th>Edit</th> -->
            </tr>
            <tr th:each="snippet : ${snippets}">
                <td th:text="${snippet.id}">Id</td>
                <td th:text="${snippet.qualifiedName}">qualifiedName</td>
                <td th:text="${snippet.simpleName}">simpleName</td>
                <td th:text="${snippet.position}">position</td>
<!--                 <td th:text="${snippet.sourceCode}">sourceCode</td> -->
				<td >
					<pre><code class="language-php">
						<p  th:text="${snippet.sourceCode}">sourceCode</p>
					</code></pre>
				</td>
                <td><a th:href="${ '/snippet/' + snippet.id}">View</a></td>
<!--                 <td><a th:href="${'/snippet/edit/' + snippet.id}">Edit</a></td> -->
            </tr>
        </table>

    </div>
</div>
<script src="prism.js"></script>
</body>
</html>