<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Yupichay</title>

<!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
	<div class="container">
		<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
		<h2>Symbol detail</h2>
		<div>
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-2 control-label">Id:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${symbol.id}">Id</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Notion:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${symbol.notion}">notion</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Type:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${symbol.symbolType}">Type</p>
					</div>
				</div>


				<div th:if="${not #lists.isEmpty(symbol.snippets)}">
					<h2>Snippet List</h2>
					<table class="table table-bordered table-hover table-striped">
						<tr>
							<th>Id</th>
							<th>Qualified Name</th>
							<th>Simple Name</th>
							<th>Position</th>
							<th>View</th>
<!-- 							<th>Edit</th> -->
						</tr>
						<tr th:each="snippet : ${symbol.snippets}">
							<td th:text="${snippet.id}"><a href="/snippet/${snippet.id}">Id</a></td>
							<td th:text="${snippet.qualifiedName}">qualifiedName</td>
							<td th:text="${snippet.simpleName}">simpleName</td>
							<td th:text="${snippet.position}">position</td>
							<td><a th:href="${ '/snippet/' + snippet.id}">View</a></td>
<!-- 							<td><a th:href="${'/snippet/edit/' + snippet.id}">Edit</a></td> -->
						</tr>
					</table>

				</div>
				
				<div th:if="${not #lists.isEmpty(symbol.items)}">
					<h2>Items List</h2>
					<table class="table table-bordered table-hover table-striped">
						<tr>
							<th>Id</th>
							<th>Text</th>
							<th>View</th>
<!-- 							<th>Edit</th> -->
						</tr>
						<tr th:each="item : ${symbol.items}">
							<td th:text="${item.id}"><a href="/item/${item.id}">Id</a></td>
							<td th:text="${item.text}">text</td>
							<td><a th:href="${ '/item/' + item.id}">View</a></td>
<!-- 							<td><a th:href="${'/snippet/edit/' + snippet.id}">Edit</a></td> -->
						</tr>
					</table>

				</div>

			</form>
		</div>

	</div>

</body>
</html>